<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
	
	<% if(theme.scheme == "Paradox"){ %>
		<%- partial("_partial/footer-left") %>

		<div id="copyright">Copyright&nbsp;©&nbsp;<script type="text/javascript">var fd = new Date();document.write(fd.getFullYear());</script>&nbsp;<%- config.title %></div>

		<%- partial("_partial/footer-right") %>
	<% } %>
    
</footer>